* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'YS Text', 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
}

#header {
    background: #46b646;
    color: white;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
}

#header ul {
    list-style-type: none;
    overflow: hidden;
}

#header li {
    float: left;
}

#header li a {
    display: block;
    text-align: center;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

#header li a:hover {
    color: #cecece;
}

#content {
    margin: 50px 50px;
}

#content h1 {
    border-bottom: 1px solid #cecece;
    padding: 10px 0px;
}

#content p {
    margin: 25px 0px;
}

#content input[type=submit] {
    color: white;
    background: #46b646;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}

#content input[type=submit]:hover {
    background: #328032;
}

.logout {
    color: #5555d9;
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.link {
    color: #46b646;
    text-decoration: none;
}

.button {
    text-decoration: none;
    color: white;
    background: #46b646;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}

/* messages */
ul.messages {
    margin:10px 100px;
    padding:0;
    list-style-type:
    none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    color: #ffffff;
    box-shadow:none;
    text-shadow:none;
    text-decoration: none;
}

.image-preview, .image-detail {
    max-width:500px;
    float:left;
    margin:0 20px 20px 0;
}

.image-form {
    width: 80%;
    display: flex;
}

.image-form form input, textarea {
    font-size: 14px;
    width: 100%;
    padding: 6px 6px;
}

.image-form form textarea {
    resize: none;
}

.image-detail { margin-top:20px; }
.image-info div {
    margin: 25px 0;
    padding:20px 0;
    overflow:auto;
}
.count {
    color:#aaa;
    border:3px solid #bbb;
    border-radius:26px;
    padding:10px 20px;
    margin: 20px 10px 0;
}
a.like { float:right; margin-top:-8px; }

.image-block {
    width: 90%;
    margin: 40px auto;
}

#image-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow:hidden;
}

#image-list .image-content {
    width:350px;
    height:300px;
    margin: 25px 25px;
    border-top:15px solid #46b646;
    border-radius: 15px;
    background:#eee;
}

.image img {
    max-height: 200px;
    width: 100%;
}

#image-list .info { padding:10px; text-align: center }
#image-list .info a { color:#333; }
.image-likes div {
    float:left;
    width:auto;
    padding:10px;
    text-align:center;
}
.image-likes img {
    width:120px;
    height:120px;
    border-radius:50%;
}

/* users */
#people-list {
    margin: 25px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#people-list img {
    width:200px;
    height:200px;
    border-radius:50%;
    margin-bottom:20px;
}
#people-list .user {
    width:330px;
    overflow:auto;
    margin: 20px 20px;
    text-align: center;
}
/*#people-list .info { text-align:center; }*/
img.user-detail {
    border-radius:50%;
    float:left;
}

.profile-image {
    margin: 25px 90px;
    overflow: auto;
}

.profile-info {
    margin-left: 35px;
    height: 50px;
}

/* actions */
.action {
    clear:both;
    overflow:auto;
}
.action .images {
    float:left;
    margin:0 10px 10px 0;
}
.action .date {
    font-style:italic;
    color:#ccc;
}
