{% load thumbnail %}
{% for image in images %}
    <div class="image-content">
        <div class="image">
            <a href="{{ image.get_absolute_url }}">
                <a href="{{ image.get_absolute_url }}">
                    <img src="{{ image.url }}">
                </a>
            </a>
        </div>
        <div class="info">
            <a href="{{ image.get_absolute_url }}" class="title">
                {{ image.title|truncatechars:33 }}
            </a>
        </div>
    </div>
{% endfor %}